.copyright
{
    padding: 10px;
     background-color: #F8F8F9;
     margin-top: 10px;
     border-radius: 5px;
}
p:first-child {
    margin-top: 10px;
}

.copyright:hover{
    cursor: not-allowed;
}
